# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore log files
*.log

# Ignore custom configuration files
config.json
secret_settings.py
